<div>
    <div class="row">
        <div class="col l4 m4">
            <img src="{{this.productImage}}" alt="" class="product-image z-depth-5">
        </div>
        <div class="col l4 m4">
            <h5 class="product-title">{{this.productTitle}}</h5>
            <a>Rockstar Games</a>
            <div>
                <p>
                    <h6>
                        <b>Platform: </b>PlayStation 4</h6>
                    <h6 class="positive flow-text">In Stock</h6>
                </p>
            </div>
            <h5>Price: &#x20B9;{{this.productPrice}}</h5>
            <h6>
                <b>Sold by:</b>
                <a>Company Name</a>
            </h6>
            <h6>
                <b>Usual Delievery: </b> 2-3 Days</h6>
            <div>
                <a class="halfway-fab waves-effect waves-light red">18</a>
                <p> Please note that this item is not for sale to people under the age of 18. By placing an order for this product,
                    you declare that you are 18 years of age or older. This item must be used responsibly and appropriately.</p>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div id="buy-section">
                <button class="btn btn-black col l7 s6">Add to Cart</button>
                <button class="btn btn-black col l7 s6">Buy Now</button>
            </div>
        </div>
        <div class="col l12">
            <h5>Description</h5>
            <p class="flow-text">{{this.productDescription}}</p>
        </div>
    </div>

</div>