<h1>Admin Panel</h1>

<div class="row">
    <form class="col s12" method="post" action="/baap/sabkamalikek" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s6">
                <input id="title" type="text" class="validate" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="price" type="number" class="validate" name="price">
                <label for="price">Price</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="description" type="text" class="validate" name="description">
                <label for="description">Description</label>
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            <div>
                <input type="text" name="imagePath">
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>