.brand-logo {
    font-family: 'Sedgwick Ave', cursive;
}
.nav-wrapper {
    background-color: black;
}
.black {
    background-color: black;
}
.welcome {
    margin-right: 5px;
}
.material-icons {
    display: inline;
    position: absolute;
}
.header-link-text {
    margin-left: 30px;
}
.color-crimson {
color: crimson!important;
}
.side-nav-cart {
    margin-left: 30px;
}
.price {
    font-size: 20px;
}
#item-image {
    height: 300px;
}
.profile-picture {
    height: 100px;
    width: 100px;
}
.product-image {
    margin-top: 30px;
    height: 350px;
    width: 350px;
}
.product-title {
    margin-top: 30px;
}
.positive {
    color: green;
}
#buy-section {
    margin-top: 90px;
}
#buy-section .btn {
    margin: 10px;
}
.btn-black {
    background-color: black!important;
    color: white;
}
.red {
    color: white;
}
.card {
    width: 300px;
}
.card-title a {
    color: black;
}
.card-action .btn {
    margin-left: -25px;
}
.genre {
    margin-left: -25px;
}
.age {
    font-size: 16px;
    font-weight: bold; 
}
.error-div {
    background-color: crimson;
    color: white;
}
.error-div span {
    padding: 10px;
}
.nav-content {
    background-color: black;
}
/* Media Queries*/

@media(min-width: 321px) and (max-width: 375px) {
    .card {
        margin-left: 25px!important;
    }
}
@media(min-width: 340px) and (max-width: 425px) {
    .card{
        margin-left: 45px;
    }
}