.card img {
    max-height: 300px;
    max-width: 250px;
}
.price {
    font-size: 24px;
}
body {
    background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?3602604866228935180');
}